---
---

<div class="card space-y-4">
  <h1 class="font-normal text-xl">
    <strong>Live Clipboard</strong> is a free online tool that helps you to copy
    and paste data between devices. This tool comes with a live clipboard synchronization
    feature. When you send data to an online clipboard you can retrieve it on another
    device with sharing the live clipboard. Open the same clipboard on multiple pages
    and copy text from computer to computer, easily!
  </h1>
</div>
