---
---

<div class="card space-y-4">
  <h1 class="font-normal text-xl">
    The simplest way to send your files around the world. Share large files and
    photos. File sharing made easy!
  </h1>
</div>
