---
---

<div class="card space-y-4">
  <h1 class="font-normal text-xl">
    Get a short link in one click. Also, you can have full statistics for all
    shorten URLs of yours. Just put + at the end of the shortened link. For
    example, <em>0cb.vercel.app/aswes</em> — is an ordinary shortened URL and
    <em>0cb.vercel.app/aswes+</em> includes statistics. You can see the number of
    clicks, devices, Operating system, and browsers. In short, you can get all the
    marketing information needed.
  </h1>
</div>
