---
import PageLayout from "@layouts/PageLayout.astro";
import UrlMinifierForm from "@modules/Url/UrlMinifierForm";
---

<PageLayout
  title="Url Shortener | 0cb"
  description="Get a short link in one click. Also, you can have full statistics for all shorten URLs of yours. Just put + at the end of the shortened link."
>
  <div class="card space-y-4">
    <h1 class="font-normal text-xl">
      Get a short link in one click. Also, you can have full statistics for all
      shorten URLs of yours. Just put + at the end of the shortened link. For
      example, <code>0cb.vercel.app/aswes</code> — is an ordinary shortened URL and
      <code>0cb.vercel.app/aswes+</code> includes statistics. You can see the number
      of clicks, devices, Operating system, and browsers. In short, you can get all
      the marketing information needed.
    </h1>
  </div>

  <UrlMinifierForm origin={Astro.url.origin} client:load />
</PageLayout>
