---
import PageLayout from "@layouts/PageLayout.astro";
import { supabase } from "@lib/supabase";
import IntroSectionHome from "@modules/clipboard/IntroSectionHome.astro";
import RetrieveSection from "@modules/clipboard/RetrieveSection";
import AddSection from "@modules/clipboard/AddSection";

const {
  url: { searchParams },
} = Astro;

// --- Redirect to Realtime clipboard
let realtimeCbId = searchParams.get("lc_id");

if (realtimeCbId) {
  return Astro.redirect(`/live-clipboard?id=${realtimeCbId}`);
}

let cbId = searchParams.get("id") || "";
let _clipBoardText = "";
let _clipBoardType = "";

if (cbId) {
  const isTextEditable = cbId?.split("-")[1]?.toLocaleLowerCase() === "e";

  const { data } = await supabase
    .from(isTextEditable ? "clipboard-edit" : "clipboard")
    .select("*")
    .eq("uuid", cbId);

  if (!isTextEditable) _clipBoardText = data![0]?.text;

  _clipBoardType = data![0]?.type;
}
---

<PageLayout title="Online ClipBoard | 0cb">
  <IntroSectionHome />

  <AddSection client:load />

  <RetrieveSection
    client:load
    _clipBoardUuid={cbId}
    _clipBoardText={_clipBoardText}
    _clipBoardType={_clipBoardType}
  />

  <div class="card grid gap-4">
    <h2 class="underline">About Online Clipboard:</h2>

    <p class="-mt-2">
      {
        `The clipboard, a crucial software feature typically integrated into
      operating systems, facilitates seamless data transfer through copy and
      paste functions, enabling temporary storage and efficient exchange of
      information between files and applications. Widely utilized in graphical
      user interface (GUI) environments, the clipboard operates as a transient
      data buffer accessible to various programs via a universal programming
      interface. Commonly accessed through user-friendly interfaces, including
      hotkeys and menu options, clipboard operations enhance user experience
      across diverse applications.`
      }
    </p>

    <p>
      {
        "Enhance Your Productivity Across Multiple Devices with Our Innovative Online Clipboard Tool!"
      }
    </p>

    <p>
      {
        "In today's dynamic work environment, people often switch between multiple devices, making it challenging to seamlessly transfer short texts or images. Traditional methods like emails or complex software can be overkill for quick sharing. That's where our unique tool comes in."
      }
    </p>

    <p>
      {
        "Clipboard implementations vary across operating systems and versions, complicating the sharing process. Moreover, most environments only support a single clipboard operation, overwriting previous content with each cut or copy. The paste operation typically duplicates the content, keeping it in the clipboard for future use."
      }
    </p>

    <p>
      {
        "Initially designed to store plain text, early clipboard implementations lacked meta-information like font, style, and color. Our Online Clipboard, while currently supporting plain text and images, is committed to expanding its features in the future. Stay tuned for more enhancements to elevate your cross-device workflow!"
      }
    </p>
  </div>
</PageLayout>
