---
---

<div class="card space-y-4">
  <h1 class="font-normal text-xl">
    <strong>Live Scribble</strong> is a free online whiteboard that allows you to
    collaborate with others in real time. It is a canvas that can be used for brainstorming,
    tutoring, designing, and more. You can use Live Scirbble on any device, and there
    is no need to download any software. Draw together in real time, from anywhere!
    In seconds, anyone can follow along with your drawing or draw with you.
  </h1>
</div>
