---
import { twMerge } from "tailwind-merge";
import "@styles/global.css";
import ReactToast from "@components/ReactToast";

const pages = [
  {
    name: "Clipboard",
    href: "/",
  },
  {
    name: "Url minifier",
    href: "/url",
  },
];

const { title, className } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>

    <link rel="manifest" href="manifest.json" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="theme-color" content="#212121" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="ClipBoard is a free online tool that help you to Copy and Retrieve Text and Image between any devices. Just copy the text and share the ID."
    />
    <meta
      name="google-site-verification"
      content="yEMc_cA98BPS3jVS06ctOQF5NZiKOfCjnt5Wa8-OgeY"
    />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="min-h-screen bg-slate-100 flex flex-col items-center">
    <header class="sticky top-0 w-full flex flex-col items-center bg-inherit">
      <div
        class="w-full max-w-[1280px] flex justify-between items-center p-2 sm:px-4"
      >
        <h1>
          <a href="/" class="underline cursor-pointer">0CB</a>
        </h1>

        <div class="flex">
          {
            pages.map(({ name, href }) => (
              <a
                class="py-2 px-4 hover:bg-slate-200 rounded-md font-medium"
                href={href}
              >
                {name}
              </a>
            ))
          }
        </div>
      </div>
    </header>

    <main
      class={twMerge(
        "flex-1 w-full max-w-[1280px] p-2 sm:p-4 flex flex-col",
        className
      )}
    >
      <slot />
    </main>

    <ReactToast client:load />
  </body>
</html>
