---
import { cn } from "@utils/cn";
import "@styles/global.css";
import ReactToast from "@components/ReactToast";
import ThemeButtonIcon from "@components/ThemeButtonIcon";
import { keywords } from "../../package.json";

const pages = [
  {
    name: "Clipboard",
    href: "/",
  },
  {
    name: "Url minifier",
    href: "/url",
  },
];

const { title, className } = Astro.props;
const pathname = Astro.url.pathname;
---

<html lang="en" id="html-element" class="dark">
  <head>
    <title>{title}</title>

    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <meta name="theme-color" content="#212121" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="0CB is a free online tool that helps you to Copy and Retrieve Text and Images between any devices. Just copy the text or image and share the ID."
    />
    <meta name="keywords" content={keywords.join(", ")} />

    <meta
      name="google-site-verification"
      content="yEMc_cA98BPS3jVS06ctOQF5NZiKOfCjnt5Wa8-OgeY"
    />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body
    class="min-h-screen dark:bg-black bg-slate-100 flex flex-col items-center"
  >
    <header class="sticky top-0 w-full flex flex-col items-center bg-inherit">
      <div
        class="w-full max-w-[1280px] flex justify-between items-center p-2 sm:px-4"
      >
        <h2>
          <a href="/" class="underline cursor-pointer">0CB</a>
        </h2>

        <div class="flex gap-1">
          {
            pages.map(({ name, href }) => (
              <a
                class={cn(
                  "py-2 px-4 hover:bg-slate-200 hover:dark:bg-[#111] rounded-md font-medium",
                  pathname === href && "dark:!bg-[#111] !bg-slate-200"
                )}
                href={href}
              >
                {name}
              </a>
            ))
          }

          <button
            id="theme-toggle-btn"
            class="py-2 px-4 hover:bg-slate-200 hover:dark:bg-[#111] rounded-md font-medium"
          >
            <ThemeButtonIcon client:load />
          </button>
        </div>
      </div>
    </header>
  </body>

  <main
    class={cn(
      "flex-1 w-full max-w-[1280px] p-2 sm:p-4 flex flex-col",
      className
    )}
  >
    <slot />
  </main>

  <ReactToast client:load />
</html>

<script>
  import { theme } from "@utils/store";

  const toggleThemeBtn = document.querySelector("#theme-toggle-btn")!;

  toggleThemeBtn?.addEventListener("click", () => {
    const html = document.querySelector("#html-element")!;
    const _theme = html.className === "dark" ? "light" : "dark";

    html.className = _theme;
    theme.set(_theme);
  });
</script>
