---
---

<div class="card space-y-4">
  <h1 class="font-normal text-2xl">
    <strong>0CB</strong> is a free online tool that help you to{" "}
    <strong>Copy</strong> and
    <strong> Retrieve Text</strong> between any devices. Just copy the text and share
    the ID.
  </h1>

  <h2 class="font-normal">
    If you want to edit the <strong>Text</strong> in future, give{" "}
    <kbd>-e</kbd> in the end of your Clipboard ID while creating one.{" "}

    <button
      id="try-now-btn"
      class="hover:underline dark:text-blue-500 text-blue-800 hover:text-blue-600"
    >
      Try it out.
    </button>
  </h2>

  <h3>
    NOTE: You need to create a Password for this feature. Don't forget it.
  </h3>
</div>

<script>
  import { saveClipBoardId } from "@utils/store";

  document.querySelector("#try-now-btn")?.addEventListener("click", () => {
    saveClipBoardId.set(`${Math.random()}`);
  });
</script>
